__pycache__/
*.pyc
.env
.venv/
uploads/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea/
.vscode/
*.swp
*.swo
.DS_Store
